<h2>List of ratings</h2>

<table>
  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <li> <%= rating %> <%= link_to rating.user.username, user_path(rating.user) %> </li>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Rating', new_rating_path %>
